@import "../external/external.scss";

main{
  min-height: 100vh;
  width: 100vw;
}

footer.footer{
  width: 100vw;
  height: 25vh;
  background-color: $cucumber-xd;
}

div.card{
  box-shadow: 0 5px 15px 1px rgba(0,0,0,0.10);
  border-radius: 5px;
  max-width: 90%;
  background-color: $snow;
}

.button{
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background-color: $indigo;
  color: $snow;
  cursor: pointer;

  &.positive{
    background-color: $cucumber;
  }

  &.negative{
    background-color: $apple-d;
  }

  &.white{
    background-color: $snow;

    &:hover{
      background-color: $indigo-xl;
    }

    &.clicked{
      background-color: $indigo-l;
    }
  }

  &:hover{
    background-color: $indigo-d;

    &.positive{
      background-color: $cucumber-d;
    }

    &.negative{
      background-color: $apple-xd;
    }
  }

}

@mixin card($shadow: "y", $border-radius: "y", $max-width: "y", $background: "y") {
  @if $shadow =="y" {
    box-shadow: 0 5px 15px 1px rgba(0,0,0,0.10);
  }
  @if $border-radius == "y" {
    border-radius: 5px;
  }
  @if $max-width == "y" {
    max-width: 90%;
  }
  @if $background == "y" {
    background-color: $snow;
  }
}

@mixin button($color: $platinum) {
  background-color: $color;
  padding: 1rem;
  cursor: pointer;
}

.background{
  background-color: $cucumber-d;
  width: 100vw;
  min-height: 100vh;
}
