@import "../external/external.scss";

// Local variables
$size_desktop: 300px;
$size_mobile: 240px;

.gallery{
  padding: 1rem;
  background-color: $platinum-xl;

  div.element{
    margin: 1rem 0.5rem;
    @include card("n", "y", "n", "y");
    border: 1px solid $platinum;

    header{
      width: 100%;
      border-radius: 4px 4px 0 0;

      &.image_header{
        background: url("https://www.what-dog.net/Images/faces2/scroll0015.jpg");
        background-position: center;
        background-size: cover;
        width: $size_desktop;
        height: $size_desktop;

        @include for-phone-only{
          width: $size_mobile;
          height: $size_mobile;
        }

        .gradient_curtain{
          height: 100%;
          width: 100%;
          background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 20%, rgba($carbon,0.80) 100%);

          h5, p{
            color: $snow;
          }

          a.details_link{
            @include card("y", "n", "n", "y");
            border-radius: 0 0 5px 5px;
            padding: 8px;
            line-height: 30px;
            margin-left: 30px;

            &:hover{
              margin-top: -5px;
            }
          }
        }
      }
    }
  }
}
