@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* line 2, ../scss/external/_classes.scss */
[class*="flRow"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

/* line 3, ../scss/external/_classes.scss */
[class*="flCol"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 4, ../scss/external/_classes.scss */
[class*="flRowR"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

/* line 5, ../scss/external/_classes.scss */
[class*="flColR"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

/* line 6, ../scss/external/_classes.scss */
[class*="aiBas"] {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

/* line 7, ../scss/external/_classes.scss */
[class*="aiCen"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 8, ../scss/external/_classes.scss */
[class*="aiEnd"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

/* line 9, ../scss/external/_classes.scss */
[class*="aiSta"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

/* line 10, ../scss/external/_classes.scss */
[class*="aiStr"] {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* line 11, ../scss/external/_classes.scss */
[class*="jcCen"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 12, ../scss/external/_classes.scss */
[class*="jcEnd"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* line 13, ../scss/external/_classes.scss */
[class*="jcSta"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/* line 14, ../scss/external/_classes.scss */
[class*="jcAro"] {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

/* line 15, ../scss/external/_classes.scss */
[class*="jcBet"] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* line 18, ../scss/external/_classes.scss */
.margin-center {
  margin: 0 auto; }

/* line 1, ../scss/external/_global.scss */
* {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 7, ../scss/external/_global.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 12, ../scss/external/_global.scss */
a {
  text-decoration: none; }

/* line 2, ../scss/external/_classes.scss */
[class*="flRow"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

/* line 3, ../scss/external/_classes.scss */
[class*="flCol"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 4, ../scss/external/_classes.scss */
[class*="flRowR"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

/* line 5, ../scss/external/_classes.scss */
[class*="flColR"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

/* line 6, ../scss/external/_classes.scss */
[class*="aiBas"] {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

/* line 7, ../scss/external/_classes.scss */
[class*="aiCen"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 8, ../scss/external/_classes.scss */
[class*="aiEnd"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

/* line 9, ../scss/external/_classes.scss */
[class*="aiSta"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

/* line 10, ../scss/external/_classes.scss */
[class*="aiStr"] {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* line 11, ../scss/external/_classes.scss */
[class*="jcCen"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 12, ../scss/external/_classes.scss */
[class*="jcEnd"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* line 13, ../scss/external/_classes.scss */
[class*="jcSta"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/* line 14, ../scss/external/_classes.scss */
[class*="jcAro"] {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

/* line 15, ../scss/external/_classes.scss */
[class*="jcBet"] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* line 18, ../scss/external/_classes.scss */
.margin-center {
  margin: 0 auto; }

/* line 1, ../scss/external/_global.scss */
* {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 7, ../scss/external/_global.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 12, ../scss/external/_global.scss */
a {
  text-decoration: none; }

/* line 3, ../scss/components/_text.scss */
* {
  font-family: 'Open Sans', sans-serif;
  color: #161519; }

/* line 8, ../scss/components/_text.scss */
div.text_container {
  margin: 1rem; }

/* line 2, ../scss/external/_classes.scss */
[class*="flRow"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

/* line 3, ../scss/external/_classes.scss */
[class*="flCol"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 4, ../scss/external/_classes.scss */
[class*="flRowR"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

/* line 5, ../scss/external/_classes.scss */
[class*="flColR"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

/* line 6, ../scss/external/_classes.scss */
[class*="aiBas"] {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

/* line 7, ../scss/external/_classes.scss */
[class*="aiCen"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 8, ../scss/external/_classes.scss */
[class*="aiEnd"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

/* line 9, ../scss/external/_classes.scss */
[class*="aiSta"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

/* line 10, ../scss/external/_classes.scss */
[class*="aiStr"] {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* line 11, ../scss/external/_classes.scss */
[class*="jcCen"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 12, ../scss/external/_classes.scss */
[class*="jcEnd"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* line 13, ../scss/external/_classes.scss */
[class*="jcSta"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/* line 14, ../scss/external/_classes.scss */
[class*="jcAro"] {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

/* line 15, ../scss/external/_classes.scss */
[class*="jcBet"] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* line 18, ../scss/external/_classes.scss */
.margin-center {
  margin: 0 auto; }

/* line 1, ../scss/external/_global.scss */
* {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 7, ../scss/external/_global.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 12, ../scss/external/_global.scss */
a {
  text-decoration: none; }

/* line 3, ../scss/components/_base.scss */
body {
  min-height: 100vh;
  background-image: linear-gradient(-135deg, #61ABFA 0%, #1C70F7 100%); }

/* line 8, ../scss/components/_base.scss */
div.card {
  -webkit-box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 90%; }

/* line 2, ../scss/external/_classes.scss */
[class*="flRow"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

/* line 3, ../scss/external/_classes.scss */
[class*="flCol"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 4, ../scss/external/_classes.scss */
[class*="flRowR"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

/* line 5, ../scss/external/_classes.scss */
[class*="flColR"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

/* line 6, ../scss/external/_classes.scss */
[class*="aiBas"] {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

/* line 7, ../scss/external/_classes.scss */
[class*="aiCen"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 8, ../scss/external/_classes.scss */
[class*="aiEnd"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

/* line 9, ../scss/external/_classes.scss */
[class*="aiSta"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

/* line 10, ../scss/external/_classes.scss */
[class*="aiStr"] {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* line 11, ../scss/external/_classes.scss */
[class*="jcCen"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 12, ../scss/external/_classes.scss */
[class*="jcEnd"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* line 13, ../scss/external/_classes.scss */
[class*="jcSta"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/* line 14, ../scss/external/_classes.scss */
[class*="jcAro"] {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

/* line 15, ../scss/external/_classes.scss */
[class*="jcBet"] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* line 18, ../scss/external/_classes.scss */
.margin-center {
  margin: 0 auto; }

/* line 1, ../scss/external/_global.scss */
* {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 7, ../scss/external/_global.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 12, ../scss/external/_global.scss */
a {
  text-decoration: none; }

/* line 3, ../scss/components/_form.scss */
.form {
  margin: 3rem; }
  /* line 6, ../scss/components/_form.scss */
  .form div.title {
    margin-bottom: 3rem;
    text-align: center; }
    /* line 10, ../scss/components/_form.scss */
    .form div.title h1 {
      margin-bottom: 1rem;
      font-size: 3rem; }
    /* line 14, ../scss/components/_form.scss */
    .form div.title p {
      max-width: 26rem; }
  /* line 19, ../scss/components/_form.scss */
  .form input.input {
    padding: 0.5rem;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #161519;
    width: 5rem;
    margin-bottom: 2rem; }
